.content {
    display: flex;
    align-content: space-between;
    padding: 20px;
}

.side {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   margin-right: 100px;
}

.code-side {
    height: 75vh;
    max-width: 280px;
    background-color: blanchedalmond;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: scroll;
    
}

.btn {
    padding: 20px;
    border-radius: 10px;
    border:none;
    font-size: medium;
    background-color: rgb(44, 44, 44);
    color: white;
    font-weight: bold;
    cursor: pointer;
}


select {
    padding:10px;
    border-radius:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
  }


  .code-btn {
    display: block;
    margin-left: 30px;
    margin-right: 80px;
    margin-bottom: 1em;
    padding: 0.8em 1em ;
    background-color:rgb(224, 206, 176);
    font-size: 1.4em;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    font-weight:600;
    font-family:monospace;
    text-align: center;
  }

  .code-btn:hover{
    cursor: pointer;
  }

  .form-container {
    margin-top: 10vh;
    width: 100%;
    height: 70vh;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
  }


  .sub-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color:blanchedalmond;
    border-radius: 4px;
  }
  
  .my-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-input,
  .form-select {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .form-select {
    appearance: none;
  }
  
  .form-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
